
.itemDetail {
    display: flex;
    justify-content: center;
}

.itemDetailContainer {
    border: 1px solid rgb(221, 215, 215);
    border-radius: 5px;
    overflow: hidden;
    width: 50%;
}

.itemDetail_cart {
    padding: 15px;
    margin-block: 4rem;
    display: grid;
    max-height: 400px;
    max-width: 550px;
    grid-template-columns: 1fr; 
    grid-template-areas:
        "img"
        "title"
        "description"
        "price"
        "count"; 
}

.itemDetail_img {
    grid-area: img;
    width: 350px;
    height: 444px;
    border: 1px solid rgb(221, 215, 215);
    border-radius: 5px;
}

.itemDetail_title {
    grid-area: title;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.itemDetail_des {
    grid-area: description;
    font-size: 15px;
    font-weight: 400;
}

.itemDetail_price {
    font-weight: 500;
    grid-area: price;
    font-size: 20px;
    margin-bottom: 0;
}

.itemDetail_count {
    grid-area: count;
    margin-top: 10px;
}

.button {
    background-color: rgb(23, 49, 29);
    color: antiquewhite;
    padding-block: 15px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 100%; 
 }