.title {
    user-select: none;
}

.disable-select {
    user-select: none;
  }
  
.mensajeHome{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center; 
    height: 100vh; 
    min-height: 100vh;
    background-color: rgb(218, 212, 212);
    color: rgb(56, 61, 57);
    font-size: 3rem;
    font-family: pacific;
    border-radius: 30px;
    margin: auto;
    height: 600px;
}

.loading{
    color: black;
    text-align: center;
    padding-top: 45vh;
    padding-bottom: 50vh;
    font-size: 20px;
    font-weight: 500;
}