.title {
    user-select: none !important;
}

.disable-select {
    user-select: none;
  }

.mainNav{
    padding: 10px;
    text-align: center;
    display: inline-block;
    background-color: rgb(11, 46, 46);
    color: #887d7d;
    height: 100px;
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
    border-radius: 20px;
}

.mainLogo{
    padding: 15px;
    display: inline-flex;
    float: left;
    font-size: 30px;
}

.mainImagen{
    padding: 5px;
    display: inline-flex;
}

.mainNomLog{
    display: inline-flex;
    padding: 15px;
}

.mainNomLog a{
    text-decoration: none;
    color: rgb(30, 17, 17);
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fdf9eec2;
    padding: 1rem 0;
    border-bottom: 1px solid #dddddd86;
    width: auto;
  }

.barraNav{
    display: flexbox;
    padding: 5px;
    justify-content: space-evenly;
    margin: 2px;
    font-size: 25px;
    color: rgb(105, 27, 27);
}

.nav-link {
        color: #faf5f5;
        background-color: #021c0cc2;
        padding: 20px 20px 20px 20px;
        margin: 0px 30px 0px 30px;
        border-radius: 20px;
        text-decoration: none;
   }
   .nav-link:hover {
        background-size: cover;
        background-position: center;
        color: rgba(17, 229, 162, 0.436);
        text-decoration: none;
   }

.to{
    padding: 40px;
    text-align: center;
    justify-content: center;
    display: inline-flex;
    float: right;
    font-size: 25px;
}

.navCarrito a{
    text-decoration: none;
    color: rgb(24, 133, 24);
}


.button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
.button:hover {
    border-color: #646cff;
  }

.button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }